[Desktop Entry]
Type=Application
Exec=imwheel
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Wheel Scroll Speed
Name=Wheel Scroll Speed
Comment[en_US]=Activates wheel scroll speed fix on system startup
Comment=Activates wheel scroll speed fix on system startup
